$colorblanco: #fff;
$colorborde: rgba(255,255,255, 0.8);
$colorfondo: #25272b54;

.rwd-table {
  margin: 1em 0;
  min-width: 300px;
  background: $colorfondo;
  color: $colorblanco;
  overflow: hidden;
  
  tr {
    border-top: 20px solid $colorborde;
    border-bottom: 20px solid $colorborde;
    border-color: opacity($color: black);
  }
  
  
  th, td {
    text-align: center;
    display: table-cell;
    padding: 1em;
    margin: .5em 1em;
    }
  }

